= link_to submission.title.html_safe, [:admin, submission]
-# %br
-# %small
-#   = link_to pluralize(page.survey_questions.count, 'question'),
-#                     [:admin, page, :survey_questions]
