%tr
  %td= render 'admin/survey_submissions/details_cell', :submission => ss
  %td= render 'admin/survey_iterations/details_cell',
            :iteration => @iteration || ss.survey_iteration
  %td.text-center
    = link_to [:edit, :admin, ss], title: 'Edit Submission',
      class: 'btn btn-xs btn-default has-tooltip edit-btn' do
      %span.glyphicon.glyphicon-edit
    = link_to [:admin, ss], title: 'Delete Submission', method: :delete,
      class: 'btn btn-xs btn-default has-tooltip delete-btn',
      data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-trash
