= simple_form_for [:admin, @survey_iteration] do |f|
  = f.input :title, :required => false, :autofocus => true,
            :placeholder => SurveyIteration.default_title
  %hr
  = f.submit 'Save Iteration', class: 'btn btn-success btn-lg btn-block'
