= default_frame do
  %br
  .jumbotron.text-center
    %h1 Hello, world!
    %p I'm a survey builder for Kollecto. Let's be friends!
    %br
    = link_to 'Get Started!', start_path, class: 'btn btn-lg btn-success'
