- content_for :header_css do
  = stylesheet_link_tag 'dashboard.css'

.col-sm-3.col-md-2.sidebar
  -# %h4.text-center Admin Tools
  %ul.nav.nav-sidebar#admin-sidebar-nav
    -#%li.nav-divider
    -# = active_link_to 'Payments', admin_payments_path, :wrap_tag => :li
    -# %li.nav-divider
    = active_link_to 'Survey Iterations', admin_survey_iterations_path, :wrap_tag => :li
    = active_link_to 'User Management', admin_users_path, :wrap_tag => :li
